#about-section{
    // height: 100vh;
    // background-color: blueviolet;
    padding-top: 10rem;
    .content-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .mission-container{
            // background-color: #1d1d1d;
            // border: 1px solid #2A292B;
            // border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 100%;
            height: 300px;
            padding: 1.5rem;
            h1{
                font-size: 40px;
                font-weight: 700;
                color: #2A292B;
            }
            p{
                // margin: 1.5rem 0 ;
                width: 1000px;
                font-size: 20px;
                font-weight: 500;
                color: #2A292B;

            }
        }
        .whowe-section{
            background-color: #2A292B;
            // border: 1px solid #2A292B;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 100%;
            height: 500px;
            padding: 1.5rem;
            margin: 1.5rem 0;
            img{
                width: 200px;
                border-radius: 50%;
            } 
            h1{
                font-size: 40px;
                font-weight: 700;
                color: #F9F4ED;
            }
            p{
                // margin: 1.5rem 0 ;
                width: 1000px;
                font-size: 20px;
                font-weight: 400;
                color: #F9F4ED;

            }
        }
        .wedo-section{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 100%;
            height: 300px;
            padding: 1.5rem;
            h1{
                font-size: 40px;
                font-weight: 700;
                color: #2A292B;
            }
            p{
                // margin: 1.5rem 0 ;
                width: 1000px;
                font-size: 20px;
                font-weight: 500;
                color: #2A292B;

            }
        }
        .feature-section{
            // background-color: #2A292B;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 100%;
            height: 600px;
            margin: 5rem 0 10rem 0;
            padding: 1.5rem; 
            .feature{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3rem;  
            }
            .feature-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

            } 
            .feature-content{
                background-color: #F9F4ED;
                border-radius: 8px;
                border: 1px solid #2A292B;
                padding: 1rem;
            }
            h1{
                font-size: 40px;
                font-weight: 700;
                color: #2A292B;
            }
            h2{
                font-size: 22px;
                font-weight: 600;
                color: #2A292B;  
            }
            p{
                // margin: 1.5rem 0 ;
                width: 300px;
                font-size: 16px;
                font-weight: 400;
                color: #2A292B;

            } 
        }
    }
}