@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.breadcrumb {
    display: flex;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    color: #aaa;
    padding-left: 20rem;

  }
  
  .breadcrumb-item {
    display: flex;
    // align-items: right;
    // text-align: right;
  }
  
  .breadcrumb-separator {
    margin: 0 5px;
    color: #aaa;
  }
  
  .breadcrumb-item a {
    text-decoration: none;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  