.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas: "header header" "dashboard-navbar dashboard-navbar" "main main" "footer footer";
  height: 100vh;
}

.dashboard .dashboard-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.dashboard .dashboard-navbar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: dashboard-navbar;
  overflow-x: auto;
  /* Allow horizontal scrolling */
  white-space: nowrap;
  /* Prevent wrapping */
  border-bottom: 1px solid #2c2c2c;
  height: 32px;
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar in IE/Edge */
  width: 100%;
  overflow-y: hidden;
}

.dashboard .dashboard-navbar::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in Chrome/Safari */
}

.dashboard .dashboard-main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.dashboard .dashboard-footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.dashboard .searchbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 1rem 0 0 0;
}

.dashboard .searchbar-container .d-search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  width: 520px;
  height: 30px;
}

.dashboard .searchbar-container .d-search-bar .search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.dashboard .searchbar-container .d-search-bar .search-input::-webkit-input-placeholder {
  color: #757575;
  opacity: 1;
}

.dashboard .searchbar-container .d-search-bar .search-input:-ms-input-placeholder {
  color: #757575;
  opacity: 1;
}

.dashboard .searchbar-container .d-search-bar .search-input::-ms-input-placeholder {
  color: #757575;
  opacity: 1;
}

.dashboard .searchbar-container .d-search-bar .search-input::placeholder {
  color: #757575;
  opacity: 1;
}

.dashboard .searchbar-container .views-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.dashboard .searchbar-container .views-icons-container .grid-icon,
.dashboard .searchbar-container .views-icons-container .list-icon {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dashboard .searchbar-container .views-icons-container .active {
  background-color: #333;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .dashboard {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "dashboard-navbar" "main" "footer";
  }
  .dashboard .searchbar-container .d-search-bar {
    width: 70%;
  }
  .dashboard .dashboard-main {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .dashboard .dashboard-header {
    padding: 1rem;
  }
  .dashboard .searchbar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  .dashboard .searchbar-container .d-search-bar {
    width: 90%;
  }
  .dashboard .searchbar-container .views-icons-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 90%;
  }
  .dashboard .dashboard-footer {
    padding: 1rem;
  }
  .dashboard .dashboard-main {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .dashboard .searchbar-container .d-search-bar {
    width: 100%;
    padding: 0.5rem;
  }
  .dashboard .searchbar-container .search-input {
    font-size: 0.875rem;
  }
  .dashboard .searchbar-container .views-icons-container {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=dashboard.css.map */