@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  /* Adjust height as needed */
}

.left-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* Takes up remaining space */
  overflow-y: auto;
  height: 100vh;
}

.right-panel {
  width: 270px;
  /* Fixed width for the editing tools */
  overflow-y: auto;
  height: 100vh;
  background-color: #072326;
  /* Slightly darker background for the tools */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-panel::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

.right-panel::-webkit-scrollbar-track {
  background: #072326;
  /* Background of the scrollbar track */
}

.right-panel::-webkit-scrollbar-thumb {
  background-color: #EEF26B;
  /* Color of the scrollbar handle */
}

.right-panel::-webkit-scrollbar-thumb:hover {
  background-color: #EEF26B;
  /* Handle color on hover */
}

h1, h2 {
  color: #CCF2C2;
  margin: 0 0 20px;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.logo {
  text-align: right;
  font-family: "SUSE", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  padding: 20px;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: rtl;
}

.user-image {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1.8px solid #EEF26B;
  border-radius: 20%;
  /* Makes the image circular */
  margin-left: 20px;
}

.subscription {
  color: #EEF26B;
  font-weight: 500;
  font-size: 15px;
}

.user-name {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.tools-list {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li, .tool-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

li:hover, .tool-link:hover {
  background-color: #041E21;
}

.tool-link.selected .tool-name {
  color: #EEF26B;
}

.tool-link.selected .tool-icon {
  -webkit-filter: brightness(0) saturate(100%) invert(82%) sepia(55%) saturate(396%) hue-rotate(11deg) brightness(101%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(82%) sepia(55%) saturate(396%) hue-rotate(11deg) brightness(101%) contrast(101%);
}

.tool-header {
  text-align: right;
  padding: 0 30px;
  color: #ACBEF2;
}

.tool-item.selected .tool-name {
  color: #EEF26B;
}

.tool-item.selected .tool-icon {
  -webkit-filter: brightness(0) saturate(100%) invert(82%) sepia(55%) saturate(396%) hue-rotate(11deg) brightness(101%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(82%) sepia(55%) saturate(396%) hue-rotate(11deg) brightness(101%) contrast(101%);
}

.tool-icon {
  width: 16px;
  height: 16px;
  font-size: 24px;
  margin-right: 10px;
  margin-left: 5px;
}

.tool-name {
  margin-right: 10px;
  font-size: 16px;
  text-align: right;
  color: #CCF2C2;
}
/*# sourceMappingURL=dashboard.css.map */