.dashboard{
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 80px 1fr 256px;
  // border: 1px dashed green;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  height: 100vh;
  .dashboard-header{
    grid-area: header;
    border-bottom: 1px solid #333;

  }

  .sidebar{
    grid-area: sidebar;
    // border: 1px dashed yellow;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 3px; /* Width of the scrollbar */
    }
  
    &::-webkit-scrollbar-track {
      background: #333; /* Background of the scrollbar track */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #a1a1a1; /* Color of the scrollbar handle */
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #c4d977; /* Handle color on hover */
    }
  }
  .dashboard-main{
    grid-area: main;
    height: 100vh;
    // border: 1px dashed blue; 
  }
  .dashboard-footer{
    grid-area: footer;
    // border: 1px dashed green; 
  
  }
}