@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");
html[data-theme="light"] {
  background-color: #ffffff;
  color: #1d2126;
}

html[data-theme="light"] #hero-section #hero_heading_section .hero-description {
  color: #121212;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

html[data-theme="light"] .whowe-section {
  background-color: #fffbf6;
}

html[data-theme="light"] #mobile_menu {
  background-color: #ffffff;
}

html[data-theme="light"] #footer-section {
  background-color: white;
}

html[data-theme="light"] #footer-section h3 {
  color: #121212;
}

html[data-theme="light"] button {
  cursor: pointer;
}

html[data-theme="dark"] {
  background-color: #121212;
  color: #fffbf6;
}

html[data-theme="dark"] #hero-section #hero_heading_section .hero-description {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  padding: 0 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#CCF2C2), to(#C4D977));
  background: linear-gradient(0deg, #CCF2C2, #C4D977);
  background-clip: text;
  color: transparent;
  display: block;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 16px rgba(174, 207, 242, 0.24);
}

html[data-theme="dark"] .whowe-section {
  background-color: #0D0D0D;
}

html[data-theme="dark"] #navbar .slide-item {
  background-color: #333;
  font-weight: 500;
}

html[data-theme="dark"] #mobile_menu {
  background-color: #121212;
}

html[data-theme="dark"] #footer-section {
  background-color: #0D0D0D;
}

html[data-theme="dark"] button {
  cursor: pointer;
}

html[data-theme="light"] .hero-slogan {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  padding: 0 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#C4D977), to(#98ba21));
  background: linear-gradient(0deg, #C4D977, #98ba21);
  background-clip: text;
  color: transparent;
  display: block;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 16px rgba(174, 207, 242, 0.24);
}

html[data-theme="dark"] .hero-slogan {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  padding: 0 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#CCF2C2), to(#C4D977));
  background: linear-gradient(0deg, #CCF2C2, #C4D977);
  background-clip: text;
  color: transparent;
  display: block;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 16px rgba(174, 207, 242, 0.24);
}

#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
}

#hero-section #hero_heading_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem;
}

#hero-section #hero_heading_section .hero-description {
  width: 590px;
  line-height: 1.3em;
}

#hero-section #hero_heading_section .explore-container {
  margin-top: 1rem;
}

#hero-section #hero_heading_section .explore-container .her-btn {
  border-radius: 25px;
  background-color: #C4D977;
  padding: 5px 15px;
  color: #121212;
  font-weight: 600;
}

#hero-section #hero_heading_section .explore-container h2 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.2px;
}

#hero-section #hero_heading_section .hero_heading_two .text {
  font-weight: 700;
  font-size: 7rem;
  padding: 0;
  margin: 0;
  letter-spacing: -3px;
}

#hero-section #hero_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#hero-section #hero_heading .text {
  font-weight: 700;
  font-size: 7rem;
  padding-right: 10px;
  margin: 0;
}

#hero-section #hero_heading .name {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  height: 172px;
  text-align: right;
  margin: 0;
}

#hero-section #hero_heading .name .word {
  position: relative;
  width: 100%;
  margin: 0;
  -webkit-animation: slideUp 12s infinite;
          animation: slideUp 12s infinite;
  font-weight: 700;
  font-size: 7rem;
}

#hero-section .hero-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0%,
  20%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,
  45% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  50%,
  70% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  75%,
  95% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
}

@keyframes slideUp {
  0%,
  20%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,
  45% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  50%,
  70% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  75%,
  95% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  #hero-section #hero_heading_section .hero-slogan,
  #hero-section #hero_heading_section .hero-description {
    font-size: 1.2rem;
  }
  #hero-section #hero_heading_section .hero-description {
    width: 550px;
  }
  #hero-section #hero_heading_section .hero_heading_two .text {
    font-size: 6.5rem;
  }
  #hero-section #hero_heading .text {
    font-size: 6.5rem;
    padding-right: 10px;
  }
  #hero-section #hero_heading .name {
    height: 125px;
  }
  #hero-section #hero_heading .name h1 {
    font-size: 6.5rem;
  }
}

@media (max-width: 480px) {
  #hero-section {
    margin-top: 2.5rem;
  }
  #hero-section #hero_heading_section {
    padding: 0;
  }
  #hero-section #hero_heading_section .hero-slogan {
    font-size: 13px;
  }
  #hero-section #hero_heading_section .hero-description {
    font-size: 13px;
    width: 350px;
  }
  #hero-section #hero_heading_section .btn-container {
    padding: 0 2rem;
  }
  #hero-section #hero_heading_section .btn-container h2 {
    font-size: 16px;
  }
  #hero-section #hero_heading_section .hero_heading_two .text {
    font-size: 4.5rem;
    font-size: 65px;
  }
  #hero-section #hero_heading .text {
    font-size: 4.5rem;
    font-size: 65px;
    padding-right: 0;
  }
  #hero-section #hero_heading .name {
    height: 95px;
  }
  #hero-section #hero_heading .name h1 {
    font-size: 4.5rem;
    font-size: 65px;
  }
}
/*# sourceMappingURL=hero.css.map */