@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");
@import "_themes";

  html[data-theme="light"] .hero-slogan, .hero-description {
    background: linear-gradient(0deg, #C4D977, #98ba21);
  }
  html[data-theme="dark"] .hero-slogan, .hero-description {
    background: linear-gradient(0deg, #CCF2C2, #C4D977);
  }
#hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // padding-top: 5rem;
  align-items: center;
  text-align: center;
  height: 100vh;
  // color: #1d2126;
  // color: #1d2126;
  #hero_heading_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;

    .hero-slogan {
      font-weight: 400;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 500;
      padding: 0 15px;
      // background:linear-gradient(0deg, #CCF2C2, #C4D977);
      background-clip: text;
      color: transparent;
      display: block;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 2px 16px rgba(174, 207, 242, 0.24);
    }
    .hero-description {
      // font-weight: 400;
      // font-size: 1.3rem;
      width: 590px;
      line-height: 1.3em;
      font-weight: 400;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 500;
      padding: 0 15px;
      // background:linear-gradient(0deg, #CCF2C2, #C4D977);
      background-clip: text;
      color: transparent;
      display: block;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 2px 16px rgba(174, 207, 242, 0.24);
    }
    .explore-container {
      margin-top: 1rem;
      // background-color: #F9F4ED;
      // border: 1.5px #1d2126 solid;
      // background-color: #0061c2;
      // border: 1.5px #0061c2 solid;
      // padding: 0.3rem 2rem;
      // border-radius: 25px;
      .her-btn{
        border-radius: 25px;
      }
      h2 {
        font-size: 18px;
        color: white;
        font-weight: 500;
        letter-spacing: 0.2px;
      }
      // &:hover {
      //   background-color: #66b2ff;
      //   border: 1.5px #66b2ff solid;
      //   h2 {
      //     color: #f9f4ed;
      //   }
      // }
    }
    .hero_heading_two {
      .text {
        font-weight: 700;
        font-size: 7rem;
        padding: 0;
        margin: 0;
        letter-spacing: -3px;
      }
    }
  }
  // height: 15vh;
  // background-color: #F17625;
  // margin-bottom: 5rem;
  #hero_heading {
    // max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .text {
      font-weight: 700;
      font-size: 7rem;
      padding-right: 10px;
      margin: 0;
    }
    .name {
      // padding-left: 3px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      height: 172px;
      text-align: right;
      margin: 0;

      .word {
        position: relative;
        width: 100%;
        margin: 0;
        animation: slideUp 12s infinite;
        font-weight: 700;
        font-size: 7rem;
      }
    }
    // .brackets {
    //     color: #F17625;
    //     // color: #98c0ef;
    //     padding: 0 8px;
    //     animation: opacity 2s infinite;
    // }
  }
  .hero-img-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 5rem;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes slideUp {
    0%,
    20%,
    100% {
      transform: translateY(0);
    }
    25%,
    45% {
      transform: translateY(-100%);
    }
    50%,
    70% {
      transform: translateY(-200%);
    }
    75%,
    95% {
      transform: translateY(-300%);
    }
  }
}

/* Responsive styling for smaller screens */
@media (max-width: 1200px) {
  #hero-section {
  }
}
@media (max-width: 992px) {
  #hero-section {
  }
}
@media (max-width: 768px) {
  #hero-section {
    #hero_heading_section {
      .hero-slogan,
      .hero-description {
        font-size: 1.2rem;
      }
      .hero-description {
        width: 550px;
      }
      .hero_heading_two {
        .text {
          font-size: 6.5rem;
        }
      }
    }
    #hero_heading {
      .text {
        font-size: 6.5rem;
        padding-right: 10px;
      }
      .name {
        height: 125px;
        h1 {
          font-size: 6.5rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #hero-section {
    margin-top: 2.5rem;
    #hero_heading_section {
      padding: 0;
      .hero-slogan {
        // font-size: 0.9rem;
        font-size: 13px;
      }
      .hero-description {
        // font-size: 0.9rem;
        font-size: 13px;
        width: 350px;
      }
      .btn-container {
        padding: 0 2rem;
        h2 {
          font-size: 16px;
        }
      }
      .hero_heading_two {
        .text {
          font-size: 4.5rem;
          font-size: 65px;
        }
      }
    }
    #hero_heading {
      .text {
        font-size: 4.5rem;
        font-size: 65px;
        padding-right: 0;
      }
      .name {
        height: 95px;
        h1 {
          font-size: 4.5rem;
          font-size: 65px;
        }
      }
    }
  }
}
