#signup-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  padding: 2rem;
}

#signup-section .signup-container {
  background-color: #F9F4ED;
  padding: 4rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  width: 100%;
  border: 1.5px solid #ede4d9;
}

#signup-section .signup-container .signup-header {
  color: #2A292B;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

#signup-section .signup-container .signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#signup-section .signup-container .signup-form .input-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#signup-section .signup-container .signup-form .input-pair .input-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 0.5rem;
}

#signup-section .signup-container .signup-form .input-pair .input-container .label {
  color: #2A292B;
  font-size: 0.875rem;
}

#signup-section .signup-container .signup-form .input-pair .input-container .input {
  width: 260px;
  padding: 0.75rem;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #F9F4ED;
  color: #2A292B;
  outline: none;
}

#signup-section .signup-container .signup-form .input-pair .input-container .input:focus {
  border-color: #2A292B;
}

#signup-section .signup-container .signup-form .submit-btn {
  padding: 0.75rem;
  width: 400px;
  background-color: #ede4d9;
  color: #2A292B;
  font-weight: bold;
  text-align: center;
  border: none;
  margin-top: 0.5rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

#signup-section .signup-container .signup-form .submit-btn:hover {
  color: white;
  background-color: #2A292B;
}

#signup-section .policy-link {
  color: #2A292B;
  text-decoration: underline;
}

#signup-section .check-box {
  margin-right: 5px;
}

#signup-section .login-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.875rem;
}

#signup-section .login-link a {
  color: #2A292B;
  text-decoration: underline;
}

#signup-section .login-link a:hover {
  font-weight: 600;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .signup-container {
    padding: 1.5rem;
  }
  .input-pair {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signup-form .input-container .input {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=signup.css.map */