.product-edit{
    // border: 1px dashed red;
    max-width: 1000px;
    margin: auto;
    padding: 2rem 6rem;

    .form-s-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        .forms-header{
            font-size: 20px;
        }
        .input-label-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;
            // background-color: rgb(149, 112, 64);
            .label{
                color: #D9D9D9;
                font-size: 16px;
            }
            .editing-input,.section-select{
                border: 1px solid #333;
                background-color: #181818;
                height: 35px;
                width: 100%;
                border-radius: 4px;
                padding: 0 10px;
                outline: none;
            }
            .editing-input::placeholder {
                color: #555;
                font-size: 14px;
              }
        }
    }
    .submit-btn{
        border: 1px solid #333;
        background-color: #181818;
        width: 120px; 
        height: 31px;
        border-radius: 4px;
        font-size: 14px;
        transition: background-color 0.3s, border-color 0.3s;
        margin-top: 15px;
        &:hover{
            background-color: #111;
            // border-color: #bbb;
            color: #fff;
        }
    }
}