@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.sidebar-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: #0a0a0a;
}

.right-panel {
  width: 100%;
//   overflow-y: auto;
//   height: 100vh;
  border-right: 1px solid #333;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.1);
}
.tools-list {
  margin-top: 10px;
  // font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li,
.tool-link {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  // justify-content: flex-end;
  // &:hover {
  //   background-color: #041E21;
  // }
}

.tool-link.selected {
  .tool-name {
    color: #c4d977;
  }
  .tool-icon {
    filter: brightness(0) saturate(100%) invert(82%) sepia(55%) saturate(396%)
      hue-rotate(11deg) brightness(101%) contrast(101%);
  }
}

.tool-header {
  text-align: left;
  padding: 0 30px;
  color: #555;
  font-weight: 600;
}
.tool-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;

  .tool-link {
    padding: 10px 20px;
    transition: background-color 0.4s ease, transform 0.3s ease, opacity 0.3s ease;
    &:hover {
      background-color: #1a1a1a;
      border-radius: 4px;
      opacity: 1;
    }
  }
}
.tool-icon {
  width: 16px;
  height: 16px;
  font-size: 24px;
  margin-right: 10px;
}

.tool-name {
  font-size: 16px;
  text-align: left;
  // color: #a1a1a1;
  color: #ededed;
  font-weight: 500;
}
